In [25]:
import pandas as pd
import numpy as np

In [26]:
phone = pd.read_csv('ph.csv', index_col='Item', encoding ='latin1')
phone

               phone
Item
1        12101111646
2        9+613796787
3           4.37E+11
4          -7.60E+12
5           8.61E+12
6     86 18601152188
7     86-13906633119

In [27]:
phone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 1 to 7
Data columns (total 1 columns):
phone    7 non-null object
dtypes: object(1)
memory usage: 112.0+ bytes

In [28]:
p0 = phone.phone.str.replace('+', '')
p0

Item
1       12101111646
2        9613796787
3           4.37E11
4          -7.60E12
5           8.61E12
6    86 18601152188
7    86-13906633119
Name: phone, dtype: object

In [29]:
p1 = p0.str.replace(' ','')
p1

Item
1       12101111646
2        9613796787
3           4.37E11
4          -7.60E12
5           8.61E12
6     8618601152188
7    86-13906633119
Name: phone, dtype: object

In [30]:
p2 = p1.str.replace('-', '')
p2

Item
1      12101111646
2       9613796787
3          4.37E11
4          7.60E12
5          8.61E12
6    8618601152188
7    8613906633119
Name: phone, dtype: object

In [31]:
phone['clean'] = p2

In [32]:
phone

               phone          clean
Item
1        12101111646    12101111646
2        9+613796787     9613796787
3           4.37E+11        4.37E11
4          -7.60E+12        7.60E12
5           8.61E+12        8.61E12
6     86 18601152188  8618601152188
7     86-13906633119  8613906633119

In [33]:
phone.to_csv('phone1.csv')